<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Portfolio</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    {% assets filters="less", output="app.css", depends='styles/less/**/*.less', 'styles/less/app.less' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
  </head>
  <body>
    <div class="wrapperloading">
      <img src="/static/assets/images/personal-avatar.png" class="profile-pic"/>
      <div class="loading up"></div>
    </div>
  <div class="terminal">
    <p><span class="fade">portfolio: nick$</span> build website</p>
    <p><span class="fade">portfolio: nick$</span> accumulating knowledge...</p>
    <p><span class="fade">portfolio: nick$</span> loading...</p>
    <p class="error"><span class="fade">portfolio: nick$</span> Error: website not found!</p>
    <p><span class="fade">portfolio: nick$</span> for now... <a href="https://www.linkedin.com/in/nicolaosmoscholios" title="Nicolaos Moscholios">@linkedin</a>
      & <a href="https://github.com/nicmosc" title="Nicolaos Moscholios">@github</a><span class="blink">|</span></p>
    </div>
  </body>
</html>
